.header-wrapper {
	grid-area: header;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	background-color: #ccffd7;
	backdrop-filter: blur(3px);
}
.header {
	padding: 3px;
	background-color: #ccffd7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.container-center__header {
	display: flex;
}
.container-center__main-header {
	border-bottom: 2px solid black;
	/* Основные стили текста */
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 34px;
}
.logo {
	height: 70px;
}
.logo__logo {
	height: 70px;
}
