.main__header {
	text-align: center;
	font-size: 72px;
}
.text-wrapper {
	margin-left: 35px;
	margin-right: 35px;
	padding: 0;
}
.text-wrapper__text {
	font-size: 32px;
}

@media (max-width: 1440px) {
	.main__header {
		font-size: 48px;
		margin-top: 20px;
	}
	.text-wrapper__text {
		font-size: 24px;
	}
}
@media (max-width: 768px) {
	.text-wrapper {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (max-width: 425px) {
	.main__header {
		font-size: 32px;
	}
	.text-wrapper {
		margin-left: 5px;
		margin-right: 5px;
	}
	.text-wrapper__text {
		font-size: 16px;
	}
}
